/.idea
/DiscordBot/.idea
DiscordBot/.env
/CalenderBot/.idea
CalenderBot/.env
/CalendarBot/.idea
/CalendarBot/generated_images
/CalendarBot/cogs/__pycache__
CalendarBot/.env
CalendarBot/database.db
/CalendarBot/__pycache__
